.image-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  border: 2px solid black;

  box-orient: horizontal;
  box-pack: center;
   justify-content: center;
   box-align: center;
   align-items: center;

   background-color: red;
}
.image1 {
  display: flex;
}
.image2 {
  display: flex;
}
.image3 {
  display: flex;
}
.cell {
  max-width: 30%;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;

    padding: 10px;
    margin: 10px;

    background-color: green;
    border: 1px solid red;
    text-align: center;
}
img {max-width: 300px;
max-height: 300px;
}

.table-header-rotated {
  border-collapse: collapse;
}
.csstransforms .table-header-rotated td {
  width: 30px;
}
.no-csstransforms .table-header-rotated th {
  padding: 5px 10px;
}
.table-header-rotated td {
  text-align: center;
  padding: 10px 5px;
  border: 1px solid #ccc;
}

.csstransforms .table-header-rotated th.imagerow {
  height: 140px;
  white-space: nowrap;
}

.csstransforms .table-header-rotated th.imagerow > div {
          transform: translate(25px, 51px) rotate(315deg);
  width: 30px;
}

.csstransforms .table-header-rotated th.imagerow > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}

.table-header-rotated th.row-header {
  padding: 0 10px;
  border-bottom: 1px solid #ccc;
}
