.image-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  border: 2px solid black;

  box-orient: horizontal;
  box-pack: center;
   justify-content: center;
   box-align: center;
   align-items: center;

   background-color: red;
}
.image1 {
  display: flex;
}
.image2 {
  display: flex;
}
.image3 {
  display: flex;
}
.cell {
  max-width: 30%;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;

    padding: 10px;
    margin: 10px;

    background-color: green;
    border: 1px solid red;
    text-align: center;
}
img {max-width:100%;}
